$hotPink: #ff305c;

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  color: $hotPink;
}

.myDiv {
  margin: 20px;
  width: 800px;
  background-color: black;
}